/* body{
    background-color: blanchedalmond;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /* shared styles */
 .open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    padding: 15px 25px;
    background-color: orange;
    border: 0px;
    border-radius: 10px;
    /* color: white; */
    color:bisque;
    cursor: pointer;
}
.section-heading{
    max-width: 830px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 700;
}
.section-heading p{
font-size: 20px;
margin-bottom: 30px;
color:#757575;
line-height: 30px;
}
.btn a{
    color:aliceblue;
    
}
 /* main styles  */
 .logo{
    font-size: 45px;

 }
 .mary{
    color: rgba(197, 19, 19, 0.827);
 }
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png),  #FFF8F3 ;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    max-width: 1140px;
    width: 71%;
    /* border: 1px solid purple; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

}
nav .list-item li{
    list-style: none;
}
nav .list-item li a{
    font-size: 20px;
    text-decoration: none;
    /* color:black */

}
.banner{
    /* border: 2px solid red; */
    margin: 50px 40px 0px 230px;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;

}
.banner .banner-content{
    max-width: 585px;
}
.banner .banner-content h2{
    font-size: 40px;
    font-weight: 600;
    color: #474747;
}
.banner .banner-content h1{
    font-size: 80px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
.banner .banner-content p{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
    
}
.banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
 /* about section related styles  */
 .about{
    padding-top: 130px;
 }
 .about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 130px 150px;
 }
  .about .about-container .info{

    display: flex;
    /* gap: 50px; */
    justify-content: space-around;
  }
  .about .about-container .info p{
  font-size: 20px;
color:#757575;
line-height: 30px;

  }
  .about .about-container .info h4{
    font-size: 20px;
    font-weight: 700;
  }
  .skill{
    padding-top: 130px;
  }
  .skill .skills-container{
width: 71%;
max-width: 1140px;
margin: 0 auto;
  }
  .skill .skills-container .skill-box{
    display: flex;
    gap: 24px;
  }
  .skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    /* border: 2px solid orangered; */
    box-shadow: 0 6px 50px #4548814a;
  }
  .skill-card img{
    max-width: 45px;
    margin-bottom: 30px;
  }
  .skill-card h3{
font-size: 20px;
font-weight: 700;
color:#181818;
margin-bottom: 30px;
  }
  .skill-card p{
font-size: 16px;
margin-bottom: 30px;
color:#757575;
line-height: 30px;
  }