/* body{
    background-color: blanchedalmond;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /* shared styles */
 .open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    padding: 15px 25px;
    background-color: orange;
    border: 0px;
    border-radius: 10px;
    /* color: white; */
    color:bisque;
}
.btn a{
    color:aliceblue;
}
 /* main styles  */
 .logo{
    font-size: 45px;

 }
 .mary{
    color: rgba(197, 19, 19, 0.827);
 }
header{
    background-color: burlywood;
    padding-top: 50px;
}
nav{
    max-width: 1140px;
    width: 71%;
    /* border: 1px solid purple; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

}
nav .list-item li{
    list-style: none;
}
nav .list-item li a{
    font-size: 20px;
    text-decoration: none;
    /* color:black */

}